global
  log         {{ global.log }}
  chroot      {{ global.chroot }}
  pidfile     {{ global.pidfile }}
  maxconn     {{ global.maxconn }}
  user        {{ global.user }}
  group       {{ global.group }}
{% if global.daemon %}
  daemon
{% endif %}
  stats {{ global.stats }}
                                          
defaults
  mode                    {{ defaults.mode }}
  log                     {{ defaults.log }}
{% for option in defaults.option %}
  option                  {{ option }}
{% endfor %}
  retries                 {{ defaults.retries }}
{% for timeout in defaults.timeout %}
  timeout {{ timeout.name }}    {{ timeout.time }}
{% endfor %}
  maxconn                 {{ defaults.maxconn }}

### Listen

{% for l in listen %}
listen {{ l.name }}
  bind {{ l.bind }}
{% if l.stats.enable %}
  stats enable
{% endif %}
  stats uri {{ l.stats.uri }}
  stats auth {{ l.stats.auth }}
  stats refresh {{ l.stats.refresh }}
{% endfor %}
  mode {{ mode }}

### Frontends

{% for f in frontend %}
frontend {{ f.name }}
  bind {{ f.bind }}
  mode {{ f.mode }}
  use_backend {{ f.use_backend }}

{% endfor %}

#### Backends

{% for b in backend %}
backend {{ b.name }}
  balance {{ b.balance }}
{% for option in b.options %}
  option {{ option }}
{% endfor %}
{% for s in b.server %}
  server {{ s.hostname }} {{ s.ip }}:{{ s.port }} {{ s.check }}
{% endfor %}
{% endfor %}